header {
    text-align: center;
    padding: 20px 0;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  
  h1 {
    color: #000000; 
    font-size: 36px;
    margin: 0;
    font-weight: 100; 
  }
